###Mac###

.DS_Store

###Ubuntu###

.directory

###IntelliJ###

*.iml
*.ipr
*.iws
.idea/

###Terraform###

# scratch file
.terraform

# state files
*.tfstate
*.tfstate.backup

###AWS##
DeveloperKeyPair.pem
