<!-- <#-- @ftlvariable name="data" type="com.example.IndexData" -->
<!-- This is actually an ftl file -->
<html>
<head>
<style>
  .fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
  }
</style>
</head>
<body>

Game



<!--
<ul>
    <#list data.items as item>
    <li>${item}</li>
</#list>
</ul>
-->

<canvas id="game-canvas" class="fullscreen"></canvas>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

function drawCircle(ctx, x, y, radius) {
	ctx.beginPath();
	ctx.arc(
		x,//x
		y,//y
		radius,//r
		0,//start angle
		2*Math.PI//end angle
		);
	//ctx.closePath(); // redundant?
	ctx.stroke();
}

function drawViews(userViewModel) {
	const canvas = document.getElementById("game-canvas");
	const ctx = canvas.getContext("2d");

	// Adjust the drawing width to match the div width.
	// Otherwise we get weird scaling artifacts.
	ctx.canvas.width  = window.innerWidth;
  	ctx.canvas.height = window.innerHeight;

	ctx.clearRect(0, 0, canvas.width, canvas.height);
	const centerX = canvas.width / 2;
	const centerY = canvas.height / 2;

	// Draw opponents' offset locations
	const opponentViews = userViewModel['opponents']
	opponentViews.forEach(function(opponentView) {
		console.log(opponentView)
  		drawCircle(ctx, 
  			opponentView.xposition + centerX, 
  			opponentView.yposition + centerY, 
  			opponentView.size);
	});

	// Draw our current position
	drawCircle(ctx, centerX, centerY, userViewModel.size);
}

/////////           /////////
///////// TRANSPORT /////////
/////////           /////////

// Global variable to hold the websocket.
var socket = null;

function receiveFrame(data) {
	console.log(data)
	drawViews(data)
}

/**
 * This function is in charge of connecting the client.
 */
function connect() {
    // First we create the socket.
    // The socket will be connected automatically asap. Not now but after returning to the event loop,
    // so we can register handlers safely before the connection is performed.
    console.log("Begin connect");
    socket = new WebSocket("ws://" + window.location.host + "/ws");

    // We set a handler that will be executed if the socket has any kind of unexpected error.
    // Since this is a just sample, we only report it at the console instead of making more complex things.
    socket.onerror = function() {
        console.log("socket error");
    };

    // We set a handler upon connection.
    // What this does is to put a text in the messages container notifying about this event.
    socket.onopen = function() {
        console.log("Connected");
    };

    // If the connection was closed gracefully (either normally or with a reason from the server),
    // we have this handler to notify to the user via the messages container.
    // Also we will retry a connection after 5 seconds.
    socket.onclose = function(evt) {
        // Try to gather an explanation about why this was closed.
        var explanation = "";
        if (evt.reason && evt.reason.length > 0) {
            explanation = "reason: " + evt.reason;
        } else {
            explanation = "without a reason specified";
        }

        // Notify the user using the messages container.
        console.log("Disconnected with close code " + evt.code + " and " + explanation);
        // Try to reconnect after 5 seconds.
        setTimeout(connect, 5000);
    };

    // If we receive a message from the server, we want to handle it.
    socket.onmessage = function(event) {
        var text = event.data.toString();
        receiveFrame(JSON.parse(text));
    };
}

// https://github.com/ktorio/ktor-samples/blob/master/app/chat/resources/web/main.js 
connect();

</script>
</body>
</html>